{{define "head"}}
<head>
{{.AnalyticsHTML}}	<title>{{.ImportPath}} - Go Tools</title>
	<link href="/assets/fonts/fonts.css" rel="stylesheet" type="text/css" />
	<link href="/assets/style.css" rel="stylesheet" type="text/css" />
	<link href="/assets/selectlistview.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/assets/tableofcontents.css" media="all" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		var StateJSON = "{{.FrontendState | json}}";
	</script>
	<script type="text/javascript" src="/assets/frontend.js"></script>
</head>
{{end}}
