{{define "header"}}
<header style="width: 100%; font-size: 14px;">
	<div class="center-max-width">
		<a class="black" style="margin-left: 30px; padding: 15px; display: inline-block;" href="/"><strong>Go Tools</strong></a>
	</div>
</header>
{{end}}

{{define "footer"}}
<footer style="position: absolute; bottom: 0; left: 0; width: 100%; text-align: right;">
	<div class="center-max-width">
		<span style="margin-right: 15px; padding: 15px; display: inline-block;"><a href="https://github.com/shurcooL/gtdo/issues" target="_blank">Report an issue</a></span>
	</div>
</footer>
{{end}}

<html>
	<head>
{{.AnalyticsHTML}}		<title>Go Tools</title>
		<link href="/assets/fonts/fonts.css" rel="stylesheet" type="text/css" />
		<link href="/assets/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div style="position: relative; min-height: 100%;">
			{{template "header"}}
			<div class="center-max-width">
				<div style="padding-bottom: 50px;">
					<article class="home-page" style="padding: 30px;">
						<p>Read the source code of any Go package on a single page. (<a href="https://www.youtube.com/watch?v=twjxYEubmzs">2 minute screencast</a>)</p>
						<span class="import-path-container" style="padding: 20px; display: inline-block;">
							<input id="import-path" placeholder="import/path" autofocus onkeydown="if (event.keyCode != 13) { return; }; window.location = &quot;/&quot; + document.getElementById(&quot;import-path&quot;).value;">
							<button onclick="window.location = &quot;/&quot; + document.getElementById(&quot;import-path&quot;).value;">Go</button>
						</span>
						<h3>Recently Viewed Packages</h3>
						<ul>{{range .Packages}}<li><a href="/{{.}}"><code>{{.}}</code></a></li>{{end}}</ul>
					</article>
				</div>
			</div>
			{{template "footer"}}
		</div>
	</body>
</html>
