#toc-overlay {
	position: fixed;
	top: 15px;
	right: 15px;
	bottom: 50px;
	z-index: 1000;
	pointer-events: none;

	font-family: inherit;
	font-size: 12px;
}

#toc-results {
	overflow-x: hidden;
	max-height: 100%;
	border: 1px solid lightgray;
	pointer-events: initial;
}

div.toc-entry {
	cursor: hand;
}

.toc-entry {
	color: inherit;
	background-color: white;
}
.toc-entry:hover {
	background-color: rgb(92.5%, 92.5%, 92.5%);
}
.toc-highlighted, .toc-highlighted:hover, a.toc-highlighted:hover {
	color: white;
	background-color: rgb(21%, 45%, 84%);
}

@media (prefers-color-scheme: dark) {
	.toc-entry {
		background-color: hsl(210, 15%, 22%);
	}
	.toc-entry:hover {
		background-color: hsl(210, 15%, 32%);
	}
	.toc-highlighted, .toc-highlighted:hover, a.toc-highlighted:hover {
		color: white;
		background-color: rgb(37, 80, 149);
	}
}
