<html>
	{{template "head" .}}
	<body>
		<div style="position: relative; min-height: 100%;">
			{{template "header"}}
			<div class="center-max-width">
				<div style="padding-bottom: 50px;">
					<div style="padding: 30px;">
						<h1>{{.ImportPathElements}}</h1>
						{{template "outdated" $}}
						{{with .Commit}}<p>Commit {{template "commitId" .ID}} from {{template "time" .Author.Date.Time}}.</p>{{end}}
						{{with .Branches}}<p><span class="spacing" title="Branch"><span style="margin-right: 8px;">{{octicon "git-branch"}}</span>{{.}}</span></p>{{end}}
						{{if .Folders}}
							<ul>{{range .Folders}}<li><a href="/{{$.ImportPath}}/{{.}}{{fullQuery $.RawQuery}}">{{.}}</a></li>{{end}}</ul>
						{{end}}
						{{.Tabs}}
						<p><span class="spacing" title="Display Test Files"><label>{{.Tests}}Tests</label></span></p>
						{{if not .DirExists}}
							<div style="margin-top: 20px;"><i>(this subdirectory doesn't exist, maybe it exists on another branch?)</i></div>
						{{end}}
						{{if .Bpkg}}
							{{/*<h1>{{if .Bpkg.IsCommand}}Command{{else}}Package{{end}} {{.Bpkg.Name}}</h1>*/}}
							{{.Files}}
						{{end}}
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	</body>
</html>
