<html>
	{{template "head" .}}
	<body>
		<div style="position: relative; min-height: 100%;">
			{{template "header"}}
			<div class="center-max-width">
				<div style="padding-bottom: 50px;">
					<div style="padding: 30px;">
						<h1>{{.ImportPathElements}}</h1>
						{{template "outdated" $}}
						{{if .Folders}}
							<ul>{{range .Folders}}<li><a href="/{{$.ImportPath}}/{{.}}{{fullQuery $.RawQuery}}">{{.}}</a></li>{{end}}</ul>
						{{end}}
						<nav>{{.Tabs}}</nav>
						{{if not .DirExists}}
							<div style="margin-top: 20px;"><i>(this subdirectory doesn't exist, maybe it exists on another branch?)</i></div>
						{{end}}
						<article class="tool-page" style="margin-top: 30px;">
						{{with .Dependents}}
							<div>
								<h3>Dependents</h3>
								{{with .Results}}
									<ul>{{range .}}<li><a href="{{importPathURL .Path $.RepoImportPath $.RawQuery}}"><code title="{{.Synopsis}}">{{.Path}}</code></a></li>{{end}}</ul>
								{{else}}
									<em style="padding-left: 20px;">None.</em>
								{{end}}
							</div>
						{{else}}
							<div>Failed to fetch dependents.</div>
						{{end}}
						<p><a href="https://godoc.org/{{.ImportPath}}?importers" target="_blank">Source</a>.</p>
						<p>Note: Dependents are based on latest master branch of all repositories, not the currently selected branch.</p>
						</article>
					</div>
				</div>
			</div>
			{{template "footer"}}
		</div>
	</body>
</html>
