{{define "head"}}
<head>
	<title>{{.ImportPath}} - Go Code</title>
	<link href="/assets/style.css" rel="stylesheet" type="text/css" />
	<link href="/assets/select-list-view.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/assets/table-of-contents.css" media="all" rel="stylesheet" type="text/css" />
	{{if .Production}}{{template "GA"}}{{end}}
	<script type="text/javascript">
		var StateJSON = "{{.FrontendState | json}}";
	</script>
	<script type="text/javascript" src="/assets/script/script.js"></script>
	<link rel="stylesheet" href="/assets/octicons/octicons.css">
</head>
{{end}}
