{{define "GA"}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56541369-1', 'auto');
  ga('send', 'pageview');

</script>
{{end}}

{{define "header"}}
<div class="header" style="width: 100%; background-color: hsl(209, 51%, 92%); font-size: 14px;">
	<span style="margin-left: 30px; padding: 15px; display: inline-block;"><strong><a class="black" href="/">Go Tools</a></strong></span>
</div>
{{end}}

{{define "footer"}}
<div style="position: absolute; bottom: 0; left: 0; width: 100%; text-align: right; background-color: hsl(209, 51%, 92%);">
	<span style="margin-right: 15px; padding: 15px; display: inline-block;"><a href="https://github.com/shurcooL/gtdo/issues" target="_blank">Report an issue</a></span>
</div>
{{end}}

<html>
	<head>
		<title>Go Tools</title>
		<link href="/assets/style.css" rel="stylesheet" type="text/css" />
		{{if .Production}}{{template "GA"}}{{end}}
	</head>
	<body>
		<div style="position: relative; min-height: 100%;">
			{{template "header"}}
			<div style="padding-bottom: 50px;">
				<article style="padding: 30px;">
					<p>There's one tool. It lets you view the source code of any Go package.</p>
					<span class="import-path-container" style="background-color: #f2f2f2; padding: 20px; display: inline-block;">
						<input id="import-path" placeholder="import/path" autofocus onkeydown="if (event.keyCode != 13) { return; }; window.location = &quot;/&quot; + document.getElementById(&quot;import-path&quot;).value;">
						<button onclick="window.location = &quot;/&quot; + document.getElementById(&quot;import-path&quot;).value;">Go</button>
					</span>
					<p>(2 minute screencast: <a href="https://www.youtube.com/watch?v=twjxYEubmzs" target="_blank">youtube.com/watch?v=twjxYEubmzs</a>)</p>
					<h3>Recently Viewed Packages</h3>
					<ul>{{range .Packages}}<li><a href="/{{.}}"><code>{{.}}</code></a></li>{{end}}</ul>
				</article>
			</div>
			{{template "footer"}}
		</div>
	</body>
</html>
