{{define "head"}}
	<head>
		<title>Go Tools</title>
		<link href="/assets/style.css" rel="stylesheet" type="text/css" />
		{{template "GA"}}
	</head>
{{end}}

{{define "GA"}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56541369-1', 'auto');
  ga('send', 'pageview');

</script>
{{end}}

<html>
	{{template "head"}}
	<body>
		<div style="position: relative; min-height: 100%;">
			<div style="width: 100%; background-color: hsl(209, 51%, 92%);">
				<span style="margin-left: 30px; padding: 15px; display: inline-block;"><strong><a class="black" href="/">Go Tools</a></strong></span>
				<span style="background-color: hsl(209, 51%, 88%); padding: 15px; display: inline-block;"><a class="black" href="/">Home</a></span>
				<span style="padding: 15px; display: inline-block;">Code</span>
			</div>
			<div style="padding-bottom: 50px;">
				<article style="padding: 30px;">
					<p>Code displays the source code of Go packages from their import path.</p>
					<p>It's currently in a MVP state: it just barely works, but there's lots of things to complete and improve.</p>
					<p>Usage: <code>gotools.org/import/path</code></p>
					<h3>Recently Viewed Packages</h3>
					<ul>{{range .Packages}}<li><a href="/{{.}}"><code>{{.}}</code></a></li>{{end}}</ul>
				</article>
			</div>
			<div style="position: absolute; bottom: 0; left: 0; width: 100%; text-align: right; background-color: hsl(209, 51%, 92%);">
				<span style="margin-right: 15px; padding: 15px; display: inline-block;"><a href="https://github.com/shurcooL/gtdo/issues" target="_blank">Report an issue</a></span>
			</div>
		</div>
	</body>
</html>
