body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.428571429;
	margin: 0px;
}
a {
	color: #4183c4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.black {
	color: black;
}
a.black:hover {
	color: #4183c4;
}

article {
	font-size: 16px;
	line-height: 1.6;
}
article > *:first-child {
	margin-top: 0;
}

* {
	tab-size: 4;
}
code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 85%;
}

.highlight h3 {
	display: inline;
	font-size: inherit;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}
.highlight h3.highlighted {
	background: rgb(243, 136, 73);
}
.highlight h3.highlighted-fade {
	background: rgba(243, 136, 73, 0.0);
	transition: background 0.5s ease-in-out;
}

.highlight pre {
	font-family: Menlo, monospace;
	padding: 10px;
	background-color: #f2f2f2;
}

@media screen {
	.kwd { color: rgb(0.4%, 0%, 69.4%); font-weight: bold; }
	.dec, .str { color: rgb(80.4%, 0%, 0%) }
	.lit { color: rgb(0.8%, 2.4%, 100%) }
	.com { color: rgb(0%, 50.6%, 9.4%) }
	.pln { color: #000 }
}
