body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.428571429;
	margin: 0px;
}
a {
	color: #4183c4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.black {
	color: black;
}
a.black:hover {
	color: #4183c4;
}

div.center-max-width {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

nav {
	font-size: 14px;
	margin: 16px 0 16px 0;
}
nav a, nav a:hover {
	color: black; text-decoration: none;
	display: inline-block;
	padding: 6px 14px 6px 14px;
}
nav a:hover {
	background-color: #eee;
}
nav a.selected {
	cursor: default;
	color: white;
	background-color: #4078c0;
}
nav .beta {
	margin-left: 4px;
	vertical-align: bottom;
    font-size: 65%;
}

article.home-page {
	font-size: 16px;
	line-height: 1.6;
}
article.home-page > *:first-child {
	margin-top: 0;
}

article.tool-page {
	font-size: 14px;
}
.doc-summary pre {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
}

span.spacing {
	margin-right: 4px;
}

.ln {
	float: left;
	text-align: right;
	width: 24px;
	margin-right: 10px;
	color: #b0b0b0;
	cursor: hand;
	-webkit-user-select: none;
}
.ln:hover {
	color: #909090;
}

.anchor {
	display: none;
}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
	display: inline;
}
.anchor-icon::before {
	content: '\f05c'; /* https://octicons.github.com/icon/link/ */
	color: black;
	margin-left: 8px;
	cursor: hand;
}

.header a:hover {
	text-decoration: none;
}

.import-path-container input, button {
	border: 1px solid lightgray;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: white;
	font-size: 16px;
}
.import-path-container input {
	width: 600px;
	border-radius: 0px;
	-webkit-appearance: none;
}
.import-path-container button {
	cursor: hand;
}
.import-path-container button:hover {
	background-color: #eeeeee;
}

div.outdated {
	font-size: 14px;
	background-color: rgb(255, 249, 236);
	border: 1px solid rgb(224, 216, 196);
	border-radius: 3px;
	padding: 12px;
}
div.outdated span.content {
	display: table-cell;
	width: 100%;
}
div.outdated span.close {
	display: table-cell;
	padding-left: 8px;
}
div.outdated span.close a {
	color: #bbb;
}
div.outdated span.close a:hover {
	color: black;
}

* {
	tab-size: 4;
}
code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 85%;
}

div.highlight {
	position: relative;
}
pre.file {
	background: none !important;
}

.highlight h3 {
	display: inline;
	font-size: inherit;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}
.highlight h3.highlighted {
	background-color: rgb(243, 136, 73);
}
.highlight h3.highlighted-fade {
	background-color: rgba(243, 136, 73, 0.0);
	transition: background 0.5s ease-in-out;
}

.highlight pre {
	font-family: Menlo, monospace;
	font-size: 12px;
	padding: 10px;
	margin: 0;
}

.highlight .kwd { color: rgb(0.4%, 0%, 69.4%); font-weight: bold; }
.highlight .dec { color: rgb(80.4%, 0%, 0%); }
.highlight .str { color: rgb(80.4%, 0%, 0%); }
.highlight .lit { color: rgb(0.8%, 2.4%, 100%); }
.highlight .com { color: rgb(0%, 50.6%, 9.4%); }
