{{define "commitId"}}<abbr id="commit-id" title="{{.}}"><code>{{commitId .}}</code></abbr>{{end}}

{{define "time"}}<abbr title="{{.}}">{{time .}}</abbr>{{end}}

{{define "outdated"}}<div class="outdated" id="outdated-box"><span class="content">This page is out of date. <a href="/{{$.ImportPath}}{{fullQuery $.RawQuery}}">Refresh</a> to see the latest.</span><span class="close"><a href="javascript:HideOutdatedBox();"><span class="octicon octicon-x"></span></a></span></div>{{end}}
